<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>--Fitness App--</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
  />
</head>
<body id="main">
  <header>
    <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
      <a id="navbar-title" class="navbar-brand" href="/">Ftnss Jnks</a>
      

      <div id="nav-links">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a id="nav-btn" class="nav-link" href="/"> Home </a>
          </li>
          <li class="nav-item">
            <a id="nav-btn" class="nav-link" href="/mealplan"> Meal Plans </a>
          </li>
          <li class="nav-item">
            <a id="nav-btn" class="nav-link" href="/fitnessplan"> Fitness Plans </a>
          </li>
          <li class="nav-item">
            <a id="nav-btn" class="nav-link" href="/Health"> Health </a>
          </li>
          <li class="nav-item">
            {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
            {{else}}
            <a id="nav-btn" class="nav-link" href="/login"> Login </a>
            {{/if}}
          </li>
        </ul>
        
      </div>
    </nav>
  </header>
  <main id="body" class="container container-fluid">
    {{{body}}}
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>