<!--Handlebars for homepage-->

<div id="homepage-welcome" class="container">
  <h1>
    WELCOME TO FJ!
  </h1>
  <p>a convenient place to keep track of your fitness goals...</p>
  <h2>HIT THE LOGIN TO GET STARTED</h2>
</div>