<div class="login-container container-fixed">
  <form class="login-form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-login"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-login"
        placeholder="Password"
      />
    </div>
    <button id="button" type="submit" class="btn btn-primary">Submit</button>
    <div>
      {{! <p>
        Don't have an account with us?
        <span> <a id="sign-up" href="/signup">Sign Up</a> </span>
      </p> }}
    </div>
  </form>
</div>

<div class="login-container container-fixed">
  <h1>Sign Up Now:</h1>
  <p>
    Don't have an account with us? Enter your info below.
  </p>
  <form class="signup-form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-signup"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-signup"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Height</label>
      <input
        type="password"
        class="form-control"
        id="height-signup"
        placeholder="Height in Inches"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Weight</label>
      <input
        type="password"
        class="form-control"
        id="weight-signup"
        placeholder="Weight in Pounds"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Age</label>
      <input
        type="password"
        class="form-control"
        id="age-signup"
        placeholder="Age"
      />
    </div>
    <div id="checklist" class="form-group">
      <label>Gender</label><br />
      <input type="radio" id="gender-signup" name="gender" value="Male" />
       
      <label for="male">Male</label><br />
       
      <input type="radio" id="gender-signup" name="gender" value="Female" />
       
      <label for="female">Female</label><br />
    </div>
    <button id="button" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="./js/login.js"></script>