<<<<<<< HEAD
<div id="fitnessplan-page" class="column">

  <div id="fitnessplan-nav" class="conatiner">
    <h1>
      Meal Plan Nav
    </h1>

    <button type="submit">Get Recipe</button>

  </div>

  <div class="card-deck">
    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">

      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title
          and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

  </div>

=======
<div class="mealplan">
  <h1>
    MEAL PLANS WILL GO HERE
  </h1>
  <button id="recipe">Get Recipe</button>
>>>>>>> main
</div>