<div id="fitnessplan-page" class="column">

  <div id="fitnessplan-nav" class="conatiner">
    <h1>
      Meal Generator
    </h1>

    <button id="recipe" type="submit">Get Recipe</button>

  </div>

  <div class="login-container">
    <h1>Recipes:</h1>
    <ul id="recipes"></ul>
  </div>

</div>

<script src="/js/recipe.js"></script>