<div class="login-container container-fixed">
  <h1>Enter Your Info Below:</h1>
  <form class="signup-form">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email-signup"
        aria-describedby="emailHelp"
        placeholder="Enter email"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input
        type="password"
        class="form-control"
        id="password-signup"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Height</label>
      <input
        type="password"
        class="form-control"
        id="height-signup"
        placeholder="Height in Inches"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Weight</label>
      <input
        type="password"
        class="form-control"
        id="weight-signup"
        placeholder="Weight in Pounds"
      />
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Age</label>
      <input
        type="password"
        class="form-control"
        id="age-signup"
        placeholder="Age"
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>