* {
  font-size: 16px;
  font-family: "Righteous", cursive;
}

#navbar-title {
  font-size: 200%;
  margin-right: 100px;
}

#nav-links {
  display: flex;
  justify-content: flex-end;
}

#navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-style: solid;
  border-width: 10px;
  border-color: rgb(0, 0, 0);
  padding: 2rem;
}

h1 {
  color: navy;
}

.login-container {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
  padding: 50px;
  flex-shrink: 1 1 1;
  margin-top: 2rem;
  margin-left: 8rem;
  margin-right: 8rem;
}

#main {
  background-image: url(https://i.pinimg.com/originals/29/ed/4b/29ed4b538405dccccb376e22ca349590.jpg);
}

#homepage-welcome {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  margin-top: 5rem;
  text-align: center;
  width: fit-content;
  padding: 30px;
  box-shadow: 5px 10px #464646;
}

.form-group {
  background-color: rgba(255, 255, 255, 0.5);
}
